@import 'mixins';
@import 'icons';

$f-orange: #d66000;
html,body { height: 100%; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  color: white;

  h1,h2,h3,h4,h5 { margin: 0; padding: 0; }

  & > div.popup {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);

    top: 0;
    left: 0;
	& > .popup-close {
	  height: 100%;
	  width: 100%;
	position: absolute;
	  top: 0; left: 0;
	  z-index: 0;
	}
    & > .popup-content {
	  z-index: 100;
      @include widthCalc("90% - 120px");
	  @include heightCalc("100% - 120px");

      margin: 40px 50%;
 	  @include translateAll(-50%,0);
      // padding: 20px;

      background-color: whitesmoke;
      border-radius: 10px;
      overflow: hidden;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      & > .text-area {
        @include widthCalc("40% - 90px");
        padding: 20px 20px 20px 90px;
        @include heightCalc("100% - 40px");
        // margin: -20px;
        float: right;
        @include gradient(left, right, rgba(214, 96,0,0), rgba(214,96,0,1), rgba(214,96,0,1));

        p {
          text-align: right;
          font-size: 16px;
          line-height: 1.5;

          a.close-popup {
            font-weight: 600;
            text-decoration: none;
            color: white;
            letter-spacing: 1px;
            &:hover {
              text-decoration: underline;
            }
          }

          &.social-area {
            a {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  & > section {
	width: 100vw;
    height: 100vh;
	width: 100%;
	height: 100%;


    &.subpage {
      position: absolute;
      top: 0;
      left: 0;

      & > div.viewport {
        position: relative;
        width: inherit;
        height: inherit;
        & > nav {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 15px;
          ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              width: 50px;
              height: 50px;
              a.information-item i {
                // margin: 13px;
              }
              a { display: inline-block; height: inherit; width: inherit;

                i { margin-right: 10px; }
              }
              img {
                height: inherit; width: inherit;
                margin-right: 10px;
              }
              margin-bottom: 10px;

              &:last-child {
                margin-bottom: 0px;
              }

            }
          }
        }

        & > article {
          position: absolute;
          background-size: cover;
          background-repeat: no-repeat;

          & > div.hover-item {
            background-color: rgba(0,0,0,0);
            transition: background-color 0.3s;
            cursor: pointer;

            width: 100%;
            height: 100%;

            h1 {
              font-size: 50px;
              padding: 0px 15px 0px 0px;
              border-right: white 1px solid;
              display: inline-block;
              margin-top: 10px;
              margin-left: 20px;
              float: left;
            }

            h3 {
              display: inline-block;
              padding: 10px;
              text-transform: uppercase;
              font-weight: 100;
              font-size: 34px;
              letter-spacing: 3px;
              padding-bottom: 0px;

              &:after {
                clear:both;
                content: " ";
              }
            }


            h5 {
              text-transform: uppercase;
              font-weight: 100;
              letter-spacing: 4px;
              margin-left: 78px;
              font-size: 16px;
            }

            p{
              transition: opacity 0.3s;
              opacity: 0;
              font-size: 16px;
              margin-left: 78px;
              margin-top: 10px;
              margin-bottom: 0;
              width: 70%;
              line-height: 1.75;

            }
          }

          &:hover > div.hover-item {
            background-color: rgba(0,0,0,0.6);
            p { opacity: 1; }
          }

        }
      }
    }
  }
} /* end of body */

a.white-border {
  font-size: 11px;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 6px 12px;
  border: white solid 1px;
  border-radius: 4px;
}
section {
  &#un-home { z-index: 400; position: absolute; top: 0; left: 0;}
  &#un-whdt { z-index: 400; }
  &#un-he { z-index: 500; }
  &#un-whdt-more { z-index: 300; }
  &#un-he-more { z-index: 300; }
}

section#un-home {
  background-color: transparent;

  div.separator {
	position: absolute;
	height: 60%;
	width: 1px;
	background-color: #DEDEDE;
	left: 50%;
	top: 199px;
  }
  div.logo {
    position: absolute;
    left: 50%;
    @include translateAll(-50%,0);
    top: 20px;
  }

  article.home-section {

    @include widthCalc("50% - 80px");
    @include heightCalc("100% - 280px");
    padding: 40px;
    padding-top: 240px;

    float: left;
	position: relative;
	background-color: transparent;
	div.viewport-area {
		display: inline-block;
		max-width: 570px;
	}
	div.gray-bg {
		width: 100%;
		height: 100%;
		background-color: #C7C7C7;
		position: absolute;
		left: 0; top: 0;
		z-index: -1;

	}
    h1 {
      font-weight: 300;
      font-size: 2.4em;
      margin-bottom: 1em;
	  font-size: 48px;
    }
    h3 {
      span {
        vertical-align: middle;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 3px;
        font-size: 18px;
        width: 90%;
        display: inline-block;
      }
      img {
        vertical-align: middle;
        height: 50px;
      }
      i { vertical-align: middle; }
    }

    p {

    margin: 30px 0;
    font-size: 14px;
    font-weight: 300;

    }

	$he-highlight: #D66000;
	$whdt-highlight: #0F6CB6;

	p {

		a.white-border {
			@include compat(transition, "background-color 0.4s, color 0.4s");
		}
	}
    &#home-whdt{
		text-align: right;
		h1, h3 { color: $whdt-highlight; }
		h1 { font-weight: 600;}
		&::after {
			@include background(url(https://ocha.smugmug.com/photos/i-M67txhh/0/L/i-M67txhh-L.png), center, top);
		}
		p {
			&:first-child { margin-top: 54px; }

			color: $whdt-highlight;
			a.white-border {
				color: $whdt-highlight;
				border-color: $whdt-highlight;
				color: rgb(255,255,255); background-color: $whdt-highlight;
				&:hover { color: $whdt-highlight; background-color: rgba(255,255,255,0); }
			}
		}
	}

    &#home-he{
		h1, h3 { color: $he-highlight; }
		h1 { font-weight: 600;}
		p {
			color: $he-highlight;
			a.white-border {
				color: $he-highlight;
				border-color: $he-highlight;
				color: rgb(255,255,255); background-color: $he-highlight;
				&:hover { color: $he-highlight; background-color: transparent;  }
			}
		}
		&::after {
			@include background(url(https://ocha.smugmug.com/photos/i-7X9Rfsh/0/L/i-7X9Rfsh-L.png), center, top);
		}
	 }

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%; height: 100%;
		content: " ";
		background-size: cover; text-align: right;
		z-index: -2;
	}
  }


  &:after {
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
  }
}
section#un-whdt-more,
section#un-he-more, {
  background-color: whitesmoke;
  div.viewport {
    article.content {
      position: absolute;
      width: 80%;
      height: 80%;
      left: 50%;
      @include translateAll(-50%, 0);
      top: 10%;
      div.half-content {
        @include widthCalc("50% - 20px");
        @include heightCalc("100% - 20px");
        padding: 10px;
        float: left;

        &.right-cont {
          border-radius: 0 5px 5px 0;
          background-color: $f-orange;
          // color: #0F6CB6;
        }

        &.left-cont {
          border-radius: 5px 0 0 5px;
          // background-color: $f-orange;
          // color: #0F6CB6;
        }

        nav {
          li {
            margin-bottom: 5px;
            i { vertical-align: middle;
              &.spr-he, &.spr-whdt, &.spr-un {
                margin-left: 20px;
                width: 30px; height: 30px;
              }
            }

            span { vertical-align: middle;
              color: white;
              text-transform: uppercase;
              letter-spacing: 2px;
              margin-left: 5px;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}

section#un-whdt-more {
  div.viewport {
    article.content {
      div.left-cont {
        @include background(url(https://ocha.smugmug.com/Countries/IRQ/May-2015-CSB-mission/i-vhzsxjj/0/XL/605A3700-XL.jpg), right, center);
        nav {
        }
      }
    }
  }
}

section#un-he-more {
  background-color: gray;
  div.viewport {
    article.content {
      div.right-cont { @include widthCalc("35% - 20px"); }
      div.left-cont {
        @include widthCalc("65% - 20px");
        @include background(url(../img/pyramid.png), center, center);
        nav {
        }
      }
    }
  }
}

section#un-whdt {
  background-color: rgb(214, 96,0);
  // transform: translate(-100%, 0);

  .viewport {
    nav {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 15px;
	  @include calcAll(width, "33.33% - 7px");
	  @include calcAll(height, "50% - 5px");
      text-align: center;
      ul {
        list-style: none;
        padding: 0;
        width: 70%;
        text-align: left;
        display: inline-block;
        margin-top: 10%;

        li {
          width: 100%;
          img {
            width: 40px;
          }
          a {
            img { width: 50px; vertical-align: middle;}
            i { vertical-align: middle; }
            width: 100%;
            text-decoration: none;

            span {
                  display: inline-block;
                @include calcAll(width, "200px");
                vertical-align: middle;
                margin-left: 5px;
                color: white;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
          }
        }
      }
    }
    .subsubpage {
      @include widthCalc("33.33% - 7px");
      @include heightCalc("50% - 5px");
      background-color: whitesmoke;

      &#un-whdt-1 {
        //https://ocha.smugmug.com/photos/i-nfNtKjV/0/L/i-nfNtKjV-L.png
        @include background(url(../img/whdt-01.png), top, center);
      }
      &#un-whdt-2 {@include background(url(https://ocha.smugmug.com/photos/i-Z9bMggS/0/L/i-Z9bMggS-L.png), top, center);}
      //https://ocha.smugmug.com/photos/i-Xjj3MGS/0/L/i-Xjj3MGS-L.png
      &#un-whdt-3 {@include background(url(../img/whdt-03.png), top, center);}
      &#un-whdt-4 {@include background(url(https://ocha.smugmug.com/photos/i-8FdPzKW/0/L/i-8FdPzKW-L.png), top, center);}
      //https://ocha.smugmug.com/photos/i-jcg9Hxz/0/L/i-jcg9Hxz-L.png
      &#un-whdt-5 {@include background(url(../img/whdt-05.png), top, center);}

      &#un-whdt-1, &#un-whdt-3, &#un-whdt-5 {
        &::after {
          // content: " ";
          // width: 100%;
          // height: 100%;
          // position: absolute;
          // top: 0;
          // left: 0;
          // @include gradient(top, bottom, rgba(0,0,0,0.4), rgba(0,0,0,0), rgba(0,0,0,0));
        }
      }

      .hover-item {
        h1 {
          border: none;
          font-size: 12px;
          display: block;
          float: none;
          font-weight: 200;
          text-transform: uppercase;
          letter-spacing: 4px;
          padding: 0;
          margin: 0 10px 0;
          padding-top: 10px;
        }
        h3 {
          padding-bottom: 0px;
          padding: 0;
          margin-left: 10px;
          margin-top: -6px;
          letter-spacing: 1px;
          font-size: 23px;
        }
      }
    }
    #un-whdt-4, #un-whdt-5 { @include calcAll(top, "50% + 5px"); }
    #un-whdt-2, #un-whdt-5 { @include calcAll(left, "33.33% + 4px"); }
    #un-whdt-3 { @include calcAll(left, "66.66% + 7px"); }
  }
}

section#un-he {
  background-color: rgb(214, 96,0);
  // transform: translate(100%, 0);

	nav {
    div.for-mobile { display: none; }
	  #he-what-next {
      height: 190px;
	  }
	}


    article#un-he-1 {
      @include spot(whitesmoke, "50% - 4px", 45%, 0, 0);
      @include background(url(https://ocha.smugmug.com/photos/i-psjHtRX/0/M/i-psjHtRX-M.png), bottom, left);
    }

    article#un-he-2 {
      @include spot(whitesmoke, "50% - 4px", 45%, "50% + 4px", 0);
      @include background(url(https://ocha.smugmug.com/photos/i-SNQFRFM/0/M/i-SNQFRFM-M.png), bottom, left);
    }
    article#un-he-3 {
      @include spot(whitesmoke, 41%, "55% - 8px", 0, "45% + 8px");
      @include background(url(https://ocha.smugmug.com/photos/i-NhscXHR/0/M/i-NhscXHR-M.png), top, right);
    }

    article#un-he-4 {
      @include spot(whitesmoke, "55% - 90px", "27.5% - 8px", "41% + 8px", "45% + 8px");
      @include background(url(https://ocha.smugmug.com/photos/i-GHdtNb8/1/L/i-GHdtNb8-L.png), top, right);
    }

    article#un-he-5 {
      @include spot(whitesmoke, "55% - 90px", "27.5% - 8px", "41% + 8px", "72.5% + 8px");
      @include background(url(https://ocha.smugmug.com/photos/i-WhzZwz9/0/S/i-WhzZwz9-S.png), top, right);
    }
}

div.popup {
  //For flipbooks
  &.flipbook-item {
    & > .popup-content {
      @include widthCalc("100% - 20px");
      @include heightCalc("100% - 20px");
      top: 10px; left: 10px;
      margin-top: 10px;
      border-radius: 4px;

      .text-area  { padding: 0;
        width: 100%;
        h1, h2, h5 { display: none; }
        iframe {
          width: 100%;
          margin-top: -50px;
          @include heightCalc("100% + 90px");
          background-color: black;
        }
        .close-area {
          position: absolute;
          top: 0;
          right: 5px;
          a
          {
              background-color: black;
              color: white;
              font-weight: 800;
              padding: 5px 9px;
              border-radius: 50%;
              border: white 3px solid;
            }
        }
        .social-area {
          position: absolute;
          bottom: 20px;
          right: 10px;
          ul.nav  { list-style-type: none;
              & > li.flipbook-popup-link {
                display: none;
              }
          }
        }
      }

    }
  }

  &.data-trends, &.humanitarian-effectiveness {
    .popup-content {
      .text-area {
        .social-area {
          .nav {
            ul { list-style-type: none; }
            li { display: inline-block; margin-left: 5px; vertical-align: middle;
              a { margin-left: 0px; }
            }
          }
        }
      }
    }
  }

  &.data-trends {

    .popup-content {
      background-position: bottom left;
      background-size: auto 110%;
    }

    &#un-whdt-1, &#un-whdt-3, &#un-whdt-5 {
      .popup-content {
        background-color: #DEE0DF;
      }
    }

    &#un-whdt-2, &#un-whdt-4 { .popup-content { background-color: #006BB5; } }

    div.popup-content {
      div.text-area {
		@include calcAll(width, "50% - 90px");
        text-align: right;
        @include gradient(left, right, rgba(102, 102, 102,0), rgba(102,102,102,1), rgba(128,128,128,1));

        h1 {
          text-align: right;
          font-size: 1.2em;
          text-transform: uppercase;
          font-weight: 300;
          letter-spacing: 5px;
          padding-bottom: 4px;
          border-bottom: 1px solid white;
          display: inline-block;
        }
        h2 {
          text-transform: uppercase;
          font-weight: 300;
          font-size: 2.3em;
        }
        h5 {
          margin: 20px 0;
          font-weight: 600;
        }
      }
    }
  }
  &.humanitarian-effectiveness {
    .popup-content {
        background-position: bottom;
    }
    div.popup-content {
      div.text-area {
        h1 {
          text-align: right;
          font-size: 4em;
          font-weight: 100;
          letter-spacing: 0.2em;
        }
        h2 {
          font-weight: 100;
          text-align: right;
          text-transform: uppercase;
          font-size: 1.5em;
          letter-spacing: 0.28em;
        }

        h5 {
            margin: 2em 0;
            text-align: right;
            font-size: 16px;
            font-weight: 600;

            // letter-spacing: 1px;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  body {
    div.popup.humanitarian-effectiveness div.popup-content div.text-area h5 {
      font-size: 13px;
    }
    div.popup > .popup-content > .text-area p {
      font-size: 13px;
    }
    & > section.subpage > div.viewport > article > div.hover-item p {
      font-size: 13px;
    }

    section {
      &#un-home {
        article.home-section {
          padding-top: 200px;
          @include heightCalc("100% - 240px");
          h1 { font-size: 38px; }
        }
      }
    }
    i.spr.spr-whdt-big {
      width: 42px; height: 42px;
      background-size: 100% 100%;
    }
    i.spr.spr-he-big {
      width: 52px; height: 38px;
      background-size: 100% 100%;
    }
  }
}

@import 'mobile'
