nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.link-icon {
  text-decoration: none; }
  .link-icon span {
    vertical-align: top;
    color: white;
    font-weight: bold; }

.link-icon:hover .spr.icon::after {
  opacity: 1 !important; }

/* Sprites */
i.spr {
  display: inline-block;
  background-image: url(../img/sprites.png);
  background-repeat: no-repeat; }
  i.spr.spr-whdt {
    width: calc(50px);
    width: -ms-calc(50px);
    width: -moz-calc(50px);
    width: -webkit-calc(50px);
    width: -o-calc(50px);
    height: calc(50px);
    height: -ms-calc(50px);
    height: -moz-calc(50px);
    height: -webkit-calc(50px);
    height: -o-calc(50px);
    position: relative;
    background-size: 100% 100%;
    background-image: url(../img/chart-0.png);
    background-repeat: no-repeat; }
    i.spr.spr-whdt::after {
      background-image: url(../img/chart-1.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: " ";
      background-size: cover;
      text-align: right;
      z-index: 100;
      opacity: 0;
      transition: opacity .3s;
      -webkit-transition: opacity .3s;
      -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
      -o-transition: opacity .3s; }
  i.spr.spr-he {
    width: calc(50px);
    width: -ms-calc(50px);
    width: -moz-calc(50px);
    width: -webkit-calc(50px);
    width: -o-calc(50px);
    height: calc(50px);
    height: -ms-calc(50px);
    height: -moz-calc(50px);
    height: -webkit-calc(50px);
    height: -o-calc(50px);
    position: relative;
    background-size: 100% 100%;
    background-image: url(../img/lead-0.png);
    background-repeat: no-repeat; }
    i.spr.spr-he::after {
      background-image: url(../img/lead-1.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: " ";
      background-size: cover;
      text-align: right;
      z-index: 100;
      opacity: 0;
      transition: opacity .3s;
      -webkit-transition: opacity .3s;
      -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
      -o-transition: opacity .3s; }
  i.spr.spr-he-big {
    margin: 4px 0;
    background-image: url(http://i.imgur.com/7ALpZ37.png);
    width: calc(82px);
    width: -ms-calc(82px);
    width: -moz-calc(82px);
    width: -webkit-calc(82px);
    width: -o-calc(82px);
    height: calc(68px);
    height: -ms-calc(68px);
    height: -moz-calc(68px);
    height: -webkit-calc(68px);
    height: -o-calc(68px);
    background-position: 0 0; }
  i.spr.spr-whdt-big {
    background-image: url(http://i.imgur.com/IRADqVS.png);
    width: calc(76px);
    width: -ms-calc(76px);
    width: -moz-calc(76px);
    width: -webkit-calc(76px);
    width: -o-calc(76px);
    height: calc(76px);
    height: -ms-calc(76px);
    height: -moz-calc(76px);
    height: -webkit-calc(76px);
    height: -o-calc(76px);
    background-position: 0 0; }
  i.spr.spr-un {
    width: calc(50px);
    width: -ms-calc(50px);
    width: -moz-calc(50px);
    width: -webkit-calc(50px);
    width: -o-calc(50px);
    height: calc(50px);
    height: -ms-calc(50px);
    height: -moz-calc(50px);
    height: -webkit-calc(50px);
    height: -o-calc(50px);
    position: relative;
    background-size: 100% 100%;
    background-image: url(../img/home-0.png);
    background-repeat: no-repeat; }
    i.spr.spr-un::after {
      background-image: url(../img/home-1.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: " ";
      background-size: cover;
      text-align: right;
      z-index: 100;
      opacity: 0;
      transition: opacity .3s;
      -webkit-transition: opacity .3s;
      -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
      -o-transition: opacity .3s; }
  i.spr.spr-tweet {
    width: calc(43px);
    width: -ms-calc(43px);
    width: -moz-calc(43px);
    width: -webkit-calc(43px);
    width: -o-calc(43px);
    height: calc(35px);
    height: -ms-calc(35px);
    height: -moz-calc(35px);
    height: -webkit-calc(35px);
    height: -o-calc(35px);
    background-position: -23px 0; }
  i.spr.spr-fb {
    width: calc(22px);
    width: -ms-calc(22px);
    width: -moz-calc(22px);
    width: -webkit-calc(22px);
    width: -o-calc(22px);
    height: calc(43px);
    height: -ms-calc(43px);
    height: -moz-calc(43px);
    height: -webkit-calc(43px);
    height: -o-calc(43px);
    background-position: 0 0; }
  i.spr.spr-info {
    width: calc(50px);
    width: -ms-calc(50px);
    width: -moz-calc(50px);
    width: -webkit-calc(50px);
    width: -o-calc(50px);
    height: calc(50px);
    height: -ms-calc(50px);
    height: -moz-calc(50px);
    height: -webkit-calc(50px);
    height: -o-calc(50px);
    position: relative;
    background-size: 100% 100%;
    background-image: url(../img/next-0.png);
    background-repeat: no-repeat; }
    i.spr.spr-info::after {
      background-image: url(../img/next-1.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: " ";
      background-size: cover;
      text-align: right;
      z-index: 100;
      opacity: 0;
      transition: opacity .3s;
      -webkit-transition: opacity .3s;
      -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
      -o-transition: opacity .3s; }
  i.spr.spr-book {
    width: calc(50px);
    width: -ms-calc(50px);
    width: -moz-calc(50px);
    width: -webkit-calc(50px);
    width: -o-calc(50px);
    height: calc(50px);
    height: -ms-calc(50px);
    height: -moz-calc(50px);
    height: -webkit-calc(50px);
    height: -o-calc(50px);
    position: relative;
    background-size: 100% 100%;
    background-image: url(../img/book-0.png);
    background-repeat: no-repeat; }
    i.spr.spr-book::after {
      background-image: url(../img/book-1.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: " ";
      background-size: cover;
      text-align: right;
      z-index: 100;
      opacity: 0;
      transition: opacity .3s;
      -webkit-transition: opacity .3s;
      -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
      -o-transition: opacity .3s; }
  i.spr.spr-dl {
    width: calc(50px);
    width: -ms-calc(50px);
    width: -moz-calc(50px);
    width: -webkit-calc(50px);
    width: -o-calc(50px);
    height: calc(50px);
    height: -ms-calc(50px);
    height: -moz-calc(50px);
    height: -webkit-calc(50px);
    height: -o-calc(50px);
    position: relative;
    background-size: 100% 100%;
    background-image: url(../img/dl-0.png);
    background-repeat: no-repeat; }
    i.spr.spr-dl::after {
      background-image: url(../img/dl-1.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: " ";
      background-size: cover;
      text-align: right;
      z-index: 100;
      opacity: 0;
      transition: opacity .3s;
      -webkit-transition: opacity .3s;
      -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
      -o-transition: opacity .3s; }
  i.spr.spr-info-big {
    width: calc(50px);
    width: -ms-calc(50px);
    width: -moz-calc(50px);
    width: -webkit-calc(50px);
    width: -o-calc(50px);
    height: calc(190px);
    height: -ms-calc(190px);
    height: -moz-calc(190px);
    height: -webkit-calc(190px);
    height: -o-calc(190px);
    position: relative;
    background-size: 100% 100%;
    background-image: url(../img/what-next-0.png);
    background-repeat: no-repeat; }
    i.spr.spr-info-big::after {
      background-image: url(../img/what-next-1.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: " ";
      background-size: cover;
      text-align: right;
      z-index: 100;
      opacity: 0;
      transition: opacity .3s;
      -webkit-transition: opacity .3s;
      -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
      -o-transition: opacity .3s; }
  i.spr.spr-un-big {
    width: calc(121px);
    width: -ms-calc(121px);
    width: -moz-calc(121px);
    width: -webkit-calc(121px);
    width: -o-calc(121px);
    height: calc(141px);
    height: -ms-calc(141px);
    height: -moz-calc(141px);
    height: -webkit-calc(141px);
    height: -o-calc(141px);
    background-position: -121px -2px; }

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  color: white; }
  body h1, body h2, body h3, body h4, body h5 {
    margin: 0;
    padding: 0; }
  body > div.popup {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0; }
    body > div.popup > .popup-close {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0; }
    body > div.popup > .popup-content {
      z-index: 100;
      width: calc(90% - 120px);
      width: -ms-calc(90% - 120px);
      width: -moz-calc(90% - 120px);
      width: -webkit-calc(90% - 120px);
      width: -o-calc(90% - 120px);
      height: calc(100% - 120px);
      height: -ms-calc(100% - 120px);
      height: -moz-calc(100% - 120px);
      height: -webkit-calc(100% - 120px);
      height: -o-calc(100% - 120px);
      margin: 40px 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      background-color: whitesmoke;
      border-radius: 10px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
      body > div.popup > .popup-content > .text-area {
        width: calc(40% - 90px);
        width: -ms-calc(40% - 90px);
        width: -moz-calc(40% - 90px);
        width: -webkit-calc(40% - 90px);
        width: -o-calc(40% - 90px);
        padding: 20px 20px 20px 90px;
        height: calc(100% - 40px);
        height: -ms-calc(100% - 40px);
        height: -moz-calc(100% - 40px);
        height: -webkit-calc(100% - 40px);
        height: -o-calc(100% - 40px);
        float: right;
        background: -webkit-linear-gradient(left, rgba(214, 96, 0, 0), #d66000, #d66000, #d66000, #d66000, #d66000);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, rgba(214, 96, 0, 0), #d66000, #d66000, #d66000, #d66000, #d66000);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, rgba(214, 96, 0, 0), #d66000, #d66000, #d66000, #d66000, #d66000);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, rgba(214, 96, 0, 0), #d66000, #d66000, #d66000, #d66000, #d66000);
        /* Standard syntax */ }
        body > div.popup > .popup-content > .text-area p {
          text-align: right;
          font-size: 16px;
          line-height: 1.5; }
          body > div.popup > .popup-content > .text-area p a.close-popup {
            font-weight: 600;
            text-decoration: none;
            color: white;
            letter-spacing: 1px; }
            body > div.popup > .popup-content > .text-area p a.close-popup:hover {
              text-decoration: underline; }
          body > div.popup > .popup-content > .text-area p.social-area a {
            margin-left: 10px; }
  body > section {
    width: 100vw;
    height: 100vh;
    width: 100%;
    height: 100%; }
    body > section.subpage {
      position: absolute;
      top: 0;
      left: 0; }
      body > section.subpage > div.viewport {
        position: relative;
        width: inherit;
        height: inherit; }
        body > section.subpage > div.viewport > nav {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 15px; }
          body > section.subpage > div.viewport > nav ul {
            list-style: none;
            padding: 0;
            margin: 0; }
            body > section.subpage > div.viewport > nav ul li {
              width: 50px;
              height: 50px;
              margin-bottom: 10px; }
              body > section.subpage > div.viewport > nav ul li a {
                display: inline-block;
                height: inherit;
                width: inherit; }
                body > section.subpage > div.viewport > nav ul li a i {
                  margin-right: 10px; }
              body > section.subpage > div.viewport > nav ul li img {
                height: inherit;
                width: inherit;
                margin-right: 10px; }
              body > section.subpage > div.viewport > nav ul li:last-child {
                margin-bottom: 0px; }
        body > section.subpage > div.viewport > article {
          position: absolute;
          background-size: cover;
          background-repeat: no-repeat; }
          body > section.subpage > div.viewport > article > div.hover-item {
            background-color: transparent;
            transition: background-color 0.3s;
            cursor: pointer;
            width: 100%;
            height: 100%; }
            body > section.subpage > div.viewport > article > div.hover-item h1 {
              font-size: 50px;
              padding: 0px 15px 0px 0px;
              border-right: white 1px solid;
              display: inline-block;
              margin-top: 10px;
              margin-left: 20px;
              float: left; }
            body > section.subpage > div.viewport > article > div.hover-item h3 {
              display: inline-block;
              padding: 10px;
              text-transform: uppercase;
              font-weight: 100;
              font-size: 34px;
              letter-spacing: 3px;
              padding-bottom: 0px; }
              body > section.subpage > div.viewport > article > div.hover-item h3:after {
                clear: both;
                content: " "; }
            body > section.subpage > div.viewport > article > div.hover-item h5 {
              text-transform: uppercase;
              font-weight: 100;
              letter-spacing: 4px;
              margin-left: 78px;
              font-size: 16px; }
            body > section.subpage > div.viewport > article > div.hover-item p {
              transition: opacity 0.3s;
              opacity: 0;
              font-size: 16px;
              margin-left: 78px;
              margin-top: 10px;
              margin-bottom: 0;
              width: 70%;
              line-height: 1.75; }
          body > section.subpage > div.viewport > article:hover > div.hover-item {
            background-color: rgba(0, 0, 0, 0.6); }
            body > section.subpage > div.viewport > article:hover > div.hover-item p {
              opacity: 1; }

/* end of body */
a.white-border {
  font-size: 11px;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 6px 12px;
  border: white solid 1px;
  border-radius: 4px; }

section#un-home {
  z-index: 400;
  position: absolute;
  top: 0;
  left: 0; }
section#un-whdt {
  z-index: 400; }
section#un-he {
  z-index: 500; }
section#un-whdt-more {
  z-index: 300; }
section#un-he-more {
  z-index: 300; }

section#un-home {
  background-color: transparent; }
  section#un-home div.separator {
    position: absolute;
    height: 60%;
    width: 1px;
    background-color: #DEDEDE;
    left: 50%;
    top: 199px; }
  section#un-home div.logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20px; }
  section#un-home article.home-section {
    width: calc(50% - 80px);
    width: -ms-calc(50% - 80px);
    width: -moz-calc(50% - 80px);
    width: -webkit-calc(50% - 80px);
    width: -o-calc(50% - 80px);
    height: calc(100% - 280px);
    height: -ms-calc(100% - 280px);
    height: -moz-calc(100% - 280px);
    height: -webkit-calc(100% - 280px);
    height: -o-calc(100% - 280px);
    padding: 40px;
    padding-top: 240px;
    float: left;
    position: relative;
    background-color: transparent; }
    section#un-home article.home-section div.viewport-area {
      display: inline-block;
      max-width: 570px; }
    section#un-home article.home-section div.gray-bg {
      width: 100%;
      height: 100%;
      background-color: #C7C7C7;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
    section#un-home article.home-section h1 {
      font-weight: 300;
      font-size: 2.4em;
      margin-bottom: 1em;
      font-size: 48px; }
    section#un-home article.home-section h3 span {
      vertical-align: middle;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 3px;
      font-size: 18px;
      width: 90%;
      display: inline-block; }
    section#un-home article.home-section h3 img {
      vertical-align: middle;
      height: 50px; }
    section#un-home article.home-section h3 i {
      vertical-align: middle; }
    section#un-home article.home-section p {
      margin: 30px 0;
      font-size: 14px;
      font-weight: 300; }
    section#un-home article.home-section p a.white-border {
      transition: background-color 0.4s, color 0.4s;
      -webkit-transition: background-color 0.4s, color 0.4s;
      -moz-transition: background-color 0.4s, color 0.4s;
      -ms-transition: background-color 0.4s, color 0.4s;
      -o-transition: background-color 0.4s, color 0.4s; }
    section#un-home article.home-section#home-whdt {
      text-align: right; }
      section#un-home article.home-section#home-whdt h1, section#un-home article.home-section#home-whdt h3 {
        color: #0F6CB6; }
      section#un-home article.home-section#home-whdt h1 {
        font-weight: 600; }
      section#un-home article.home-section#home-whdt::after {
        background-image: url(https://ocha.smugmug.com/photos/i-M67txhh/0/L/i-M67txhh-L.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover; }
      section#un-home article.home-section#home-whdt p {
        color: #0F6CB6; }
        section#un-home article.home-section#home-whdt p:first-child {
          margin-top: 54px; }
        section#un-home article.home-section#home-whdt p a.white-border {
          color: #0F6CB6;
          border-color: #0F6CB6;
          color: white;
          background-color: #0F6CB6; }
          section#un-home article.home-section#home-whdt p a.white-border:hover {
            color: #0F6CB6;
            background-color: rgba(255, 255, 255, 0); }
    section#un-home article.home-section#home-he h1, section#un-home article.home-section#home-he h3 {
      color: #D66000; }
    section#un-home article.home-section#home-he h1 {
      font-weight: 600; }
    section#un-home article.home-section#home-he p {
      color: #D66000; }
      section#un-home article.home-section#home-he p a.white-border {
        color: #D66000;
        border-color: #D66000;
        color: white;
        background-color: #D66000; }
        section#un-home article.home-section#home-he p a.white-border:hover {
          color: #D66000;
          background-color: transparent; }
    section#un-home article.home-section#home-he::after {
      background-image: url(https://ocha.smugmug.com/photos/i-7X9Rfsh/0/L/i-7X9Rfsh-L.png);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover; }
    section#un-home article.home-section::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: " ";
      background-size: cover;
      text-align: right;
      z-index: -2; }
  section#un-home:after {
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

section#un-whdt-more,
section#un-he-more {
  background-color: whitesmoke; }
  section#un-whdt-more div.viewport article.content,
  section#un-he-more div.viewport article.content {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10%; }
    section#un-whdt-more div.viewport article.content div.half-content,
    section#un-he-more div.viewport article.content div.half-content {
      width: calc(50% - 20px);
      width: -ms-calc(50% - 20px);
      width: -moz-calc(50% - 20px);
      width: -webkit-calc(50% - 20px);
      width: -o-calc(50% - 20px);
      height: calc(100% - 20px);
      height: -ms-calc(100% - 20px);
      height: -moz-calc(100% - 20px);
      height: -webkit-calc(100% - 20px);
      height: -o-calc(100% - 20px);
      padding: 10px;
      float: left; }
      section#un-whdt-more div.viewport article.content div.half-content.right-cont,
      section#un-he-more div.viewport article.content div.half-content.right-cont {
        border-radius: 0 5px 5px 0;
        background-color: #d66000; }
      section#un-whdt-more div.viewport article.content div.half-content nav li,
      section#un-he-more div.viewport article.content div.half-content nav li {
        margin-bottom: 5px; }
        section#un-whdt-more div.viewport article.content div.half-content nav li i,
        section#un-he-more div.viewport article.content div.half-content nav li i {
          vertical-align: middle; }
        section#un-whdt-more div.viewport article.content div.half-content nav li span,
        section#un-he-more div.viewport article.content div.half-content nav li span {
          vertical-align: middle;
          color: white;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-left: 5px;
          font-weight: normal; }

section#un-whdt-more div.viewport article.content div.left-cont {
  background-image: url(../img/whdt-bg.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover; }

section#un-he-more {
  background-color: gray; }
  section#un-he-more div.viewport article.content div.right-cont {
    width: calc(35% - 20px);
    width: -ms-calc(35% - 20px);
    width: -moz-calc(35% - 20px);
    width: -webkit-calc(35% - 20px);
    width: -o-calc(35% - 20px); }
  section#un-he-more div.viewport article.content div.left-cont {
    width: calc(65% - 20px);
    width: -ms-calc(65% - 20px);
    width: -moz-calc(65% - 20px);
    width: -webkit-calc(65% - 20px);
    width: -o-calc(65% - 20px);
    background-image: url(../img/pyramid.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

section#un-whdt {
  background-color: #d66000; }
  section#un-whdt .viewport nav {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
    width: calc(33.33% - 7px);
    width: -ms-calc(33.33% - 7px);
    width: -moz-calc(33.33% - 7px);
    width: -webkit-calc(33.33% - 7px);
    width: -o-calc(33.33% - 7px);
    height: calc(50% - 5px);
    height: -ms-calc(50% - 5px);
    height: -moz-calc(50% - 5px);
    height: -webkit-calc(50% - 5px);
    height: -o-calc(50% - 5px);
    text-align: center; }
    section#un-whdt .viewport nav ul {
      list-style: none;
      padding: 0;
      width: 70%;
      text-align: left;
      display: inline-block;
      margin-top: 10%; }
      section#un-whdt .viewport nav ul li {
        width: 100%; }
        section#un-whdt .viewport nav ul li img {
          width: 40px; }
        section#un-whdt .viewport nav ul li a {
          width: 100%;
          text-decoration: none; }
          section#un-whdt .viewport nav ul li a img {
            width: 50px;
            vertical-align: middle; }
          section#un-whdt .viewport nav ul li a i {
            vertical-align: middle; }
          section#un-whdt .viewport nav ul li a span {
            display: inline-block;
            width: calc(200px);
            width: -ms-calc(200px);
            width: -moz-calc(200px);
            width: -webkit-calc(200px);
            width: -o-calc(200px);
            vertical-align: middle;
            margin-left: 5px;
            color: white;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px; }
  section#un-whdt .viewport .subsubpage {
    width: calc(33.33% - 7px);
    width: -ms-calc(33.33% - 7px);
    width: -moz-calc(33.33% - 7px);
    width: -webkit-calc(33.33% - 7px);
    width: -o-calc(33.33% - 7px);
    height: calc(50% - 5px);
    height: -ms-calc(50% - 5px);
    height: -moz-calc(50% - 5px);
    height: -webkit-calc(50% - 5px);
    height: -o-calc(50% - 5px);
    background-color: whitesmoke; }
    section#un-whdt .viewport .subsubpage#un-whdt-1 {
      background-image: url(https://ocha.smugmug.com/photos/i-nfNtKjV/0/L/i-nfNtKjV-L.png);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover; }
    section#un-whdt .viewport .subsubpage#un-whdt-2 {
      background-image: url(https://ocha.smugmug.com/photos/i-Z9bMggS/0/L/i-Z9bMggS-L.png);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover; }
    section#un-whdt .viewport .subsubpage#un-whdt-3 {
      background-image: url(https://ocha.smugmug.com/photos/i-Xjj3MGS/0/L/i-Xjj3MGS-L.png);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover; }
    section#un-whdt .viewport .subsubpage#un-whdt-4 {
      background-image: url(https://ocha.smugmug.com/photos/i-8FdPzKW/0/L/i-8FdPzKW-L.png);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover; }
    section#un-whdt .viewport .subsubpage#un-whdt-5 {
      background-image: url(https://ocha.smugmug.com/photos/i-jcg9Hxz/0/L/i-jcg9Hxz-L.png);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover; }
    section#un-whdt .viewport .subsubpage .hover-item h1 {
      border: none;
      font-size: 12px;
      display: block;
      float: none;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 4px;
      padding: 0;
      margin: 0 10px 0;
      padding-top: 10px; }
    section#un-whdt .viewport .subsubpage .hover-item h3 {
      padding-bottom: 0px;
      padding: 0;
      margin-left: 10px;
      margin-top: -6px;
      letter-spacing: 1px;
      font-size: 23px; }
  section#un-whdt .viewport #un-whdt-4, section#un-whdt .viewport #un-whdt-5 {
    top: calc(50% + 5px);
    top: -ms-calc(50% + 5px);
    top: -moz-calc(50% + 5px);
    top: -webkit-calc(50% + 5px);
    top: -o-calc(50% + 5px); }
  section#un-whdt .viewport #un-whdt-2, section#un-whdt .viewport #un-whdt-5 {
    left: calc(33.33% + 4px);
    left: -ms-calc(33.33% + 4px);
    left: -moz-calc(33.33% + 4px);
    left: -webkit-calc(33.33% + 4px);
    left: -o-calc(33.33% + 4px); }
  section#un-whdt .viewport #un-whdt-3 {
    left: calc(66.66% + 7px);
    left: -ms-calc(66.66% + 7px);
    left: -moz-calc(66.66% + 7px);
    left: -webkit-calc(66.66% + 7px);
    left: -o-calc(66.66% + 7px); }

section#un-he {
  background-color: #d66000; }
  section#un-he nav #he-what-next {
    height: 190px; }
  section#un-he article#un-he-1 {
    background-color: whitesmoke;
    width: calc(50% - 4px);
    width: -ms-calc(50% - 4px);
    width: -moz-calc(50% - 4px);
    width: -webkit-calc(50% - 4px);
    width: -o-calc(50% - 4px);
    height: calc(45%);
    height: -ms-calc(45%);
    height: -moz-calc(45%);
    height: -webkit-calc(45%);
    height: -o-calc(45%);
    left: calc(0);
    left: -ms-calc(0);
    left: -moz-calc(0);
    left: -webkit-calc(0);
    left: -o-calc(0);
    top: calc(0);
    top: -ms-calc(0);
    top: -moz-calc(0);
    top: -webkit-calc(0);
    top: -o-calc(0);
    background-image: url(https://ocha.smugmug.com/photos/i-psjHtRX/0/M/i-psjHtRX-M.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover; }
  section#un-he article#un-he-2 {
    background-color: whitesmoke;
    width: calc(50% - 4px);
    width: -ms-calc(50% - 4px);
    width: -moz-calc(50% - 4px);
    width: -webkit-calc(50% - 4px);
    width: -o-calc(50% - 4px);
    height: calc(45%);
    height: -ms-calc(45%);
    height: -moz-calc(45%);
    height: -webkit-calc(45%);
    height: -o-calc(45%);
    left: calc(50% + 4px);
    left: -ms-calc(50% + 4px);
    left: -moz-calc(50% + 4px);
    left: -webkit-calc(50% + 4px);
    left: -o-calc(50% + 4px);
    top: calc(0);
    top: -ms-calc(0);
    top: -moz-calc(0);
    top: -webkit-calc(0);
    top: -o-calc(0);
    background-image: url(https://ocha.smugmug.com/photos/i-SNQFRFM/0/M/i-SNQFRFM-M.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover; }
  section#un-he article#un-he-3 {
    background-color: whitesmoke;
    width: calc(41%);
    width: -ms-calc(41%);
    width: -moz-calc(41%);
    width: -webkit-calc(41%);
    width: -o-calc(41%);
    height: calc(55% - 8px);
    height: -ms-calc(55% - 8px);
    height: -moz-calc(55% - 8px);
    height: -webkit-calc(55% - 8px);
    height: -o-calc(55% - 8px);
    left: calc(0);
    left: -ms-calc(0);
    left: -moz-calc(0);
    left: -webkit-calc(0);
    left: -o-calc(0);
    top: calc(45% + 8px);
    top: -ms-calc(45% + 8px);
    top: -moz-calc(45% + 8px);
    top: -webkit-calc(45% + 8px);
    top: -o-calc(45% + 8px);
    background-image: url(https://ocha.smugmug.com/photos/i-NhscXHR/0/M/i-NhscXHR-M.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover; }
  section#un-he article#un-he-4 {
    background-color: whitesmoke;
    width: calc(55% - 90px);
    width: -ms-calc(55% - 90px);
    width: -moz-calc(55% - 90px);
    width: -webkit-calc(55% - 90px);
    width: -o-calc(55% - 90px);
    height: calc(27.5% - 8px);
    height: -ms-calc(27.5% - 8px);
    height: -moz-calc(27.5% - 8px);
    height: -webkit-calc(27.5% - 8px);
    height: -o-calc(27.5% - 8px);
    left: calc(41% + 8px);
    left: -ms-calc(41% + 8px);
    left: -moz-calc(41% + 8px);
    left: -webkit-calc(41% + 8px);
    left: -o-calc(41% + 8px);
    top: calc(45% + 8px);
    top: -ms-calc(45% + 8px);
    top: -moz-calc(45% + 8px);
    top: -webkit-calc(45% + 8px);
    top: -o-calc(45% + 8px);
    background-image: url(https://ocha.smugmug.com/photos/i-GHdtNb8/1/L/i-GHdtNb8-L.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover; }
  section#un-he article#un-he-5 {
    background-color: whitesmoke;
    width: calc(55% - 90px);
    width: -ms-calc(55% - 90px);
    width: -moz-calc(55% - 90px);
    width: -webkit-calc(55% - 90px);
    width: -o-calc(55% - 90px);
    height: calc(27.5% - 8px);
    height: -ms-calc(27.5% - 8px);
    height: -moz-calc(27.5% - 8px);
    height: -webkit-calc(27.5% - 8px);
    height: -o-calc(27.5% - 8px);
    left: calc(41% + 8px);
    left: -ms-calc(41% + 8px);
    left: -moz-calc(41% + 8px);
    left: -webkit-calc(41% + 8px);
    left: -o-calc(41% + 8px);
    top: calc(72.5% + 8px);
    top: -ms-calc(72.5% + 8px);
    top: -moz-calc(72.5% + 8px);
    top: -webkit-calc(72.5% + 8px);
    top: -o-calc(72.5% + 8px);
    background-image: url(https://ocha.smugmug.com/photos/i-WhzZwz9/0/S/i-WhzZwz9-S.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover; }

div.popup.data-trends .popup-content {
  background-position: bottom left;
  background-size: auto 110%; }
div.popup.data-trends#un-whdt-1 .popup-content, div.popup.data-trends#un-whdt-3 .popup-content, div.popup.data-trends#un-whdt-5 .popup-content {
  background-color: #DEE0DF; }
div.popup.data-trends#un-whdt-2 .popup-content, div.popup.data-trends#un-whdt-4 .popup-content {
  background-color: #006BB5; }
div.popup.data-trends div.popup-content div.text-area {
  width: calc(50% - 90px);
  width: -ms-calc(50% - 90px);
  width: -moz-calc(50% - 90px);
  width: -webkit-calc(50% - 90px);
  width: -o-calc(50% - 90px);
  text-align: right;
  background: -webkit-linear-gradient(left, rgba(102, 102, 102, 0), #666666, gray, gray, gray, gray);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(102, 102, 102, 0), #666666, gray, gray, gray, gray);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(102, 102, 102, 0), #666666, gray, gray, gray, gray);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(102, 102, 102, 0), #666666, gray, gray, gray, gray);
  /* Standard syntax */ }
  div.popup.data-trends div.popup-content div.text-area h1 {
    text-align: right;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    padding-bottom: 4px;
    border-bottom: 1px solid white;
    display: inline-block; }
  div.popup.data-trends div.popup-content div.text-area h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.3em; }
  div.popup.data-trends div.popup-content div.text-area h5 {
    margin: 20px 0;
    font-weight: 600; }
div.popup.humanitarian-effectiveness .popup-content {
  background-position: bottom; }
div.popup.humanitarian-effectiveness div.popup-content div.text-area h1 {
  text-align: right;
  font-size: 4em;
  font-weight: 100;
  letter-spacing: 0.2em; }
div.popup.humanitarian-effectiveness div.popup-content div.text-area h2 {
  font-weight: 100;
  text-align: right;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.28em; }
div.popup.humanitarian-effectiveness div.popup-content div.text-area h5 {
  margin: 2em 0;
  text-align: right;
  font-size: 16px;
  font-weight: 600; }

@media screen and (max-width: 1300px) {
  body div.popup.humanitarian-effectiveness div.popup-content div.text-area h5 {
    font-size: 13px; }
  body div.popup > .popup-content > .text-area p {
    font-size: 13px; }
  body > section.subpage > div.viewport > article > div.hover-item p {
    font-size: 13px; }
  body section#un-home article.home-section {
    padding-top: 200px;
    height: calc(100% - 240px);
    height: -ms-calc(100% - 240px);
    height: -moz-calc(100% - 240px);
    height: -webkit-calc(100% - 240px);
    height: -o-calc(100% - 240px); }
    body section#un-home article.home-section h1 {
      font-size: 38px; }
  body i.spr.spr-whdt-big {
    width: 42px;
    height: 42px;
    background-size: 100% 100%; }
  body i.spr.spr-he-big {
    width: 52px;
    height: 38px;
    background-size: 100% 100%; } }

/*# sourceMappingURL=base.css.map */
